<web-app>
 <servlet>
 <servlet-name>eerr</servlet-name>
 <servlet-class>ServCon</servlet-class>
 <load-on-startup>1</load-on-startup>
 <init-param>
 <param-name>food</param-name>
 <param-value>biryani</param-value>
 
 </init-param>
 <init-param>
 <param-name>fruit</param-name>
 <param-value>mango</param-value>
 </init-param>
 </servlet>
 <servlet-mapping>
 <servlet-name>eerr</servlet-name>
 <url-pattern>/</url-pattern>
 </servlet-mapping>
</web-app>